body{
  background:url(LoginBGI.jpg);
  background-size:cover;
  background-position:center;

}

.login-box{
  max-width:700px;
  float:none;
  margin:220px auto;
}

.login_txt{
  position: relative;
  top:100px;
  color:white;
  margin-left: 470px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  font-weight: 700;
}

.login-left{


  border-radius: 10px;
  margin-left: 150px;
  align-items: center;
  background:rgba(211,211,211,0.5);
  padding:30px;
}

.login-right{
  border-radius: 10px;
  margin-left: 150px;
  align-items: center;
  background:white;
  padding:30px;
}

.form-control{
  background-color:transparent !important;
}
